.product-detail__page {
    width: 100%;
    position: relative;
}

.product-info__container {
    width: inherit;
}

.product-info__title {
    font-size: 24px;
    font-family: 'Nunito', sans-serif;
}

.product-info__author {
    font-size: 16px;
    color: var(--medium-gray);
    margin-bottom: 25px;
}

.product-info__description {
    color: var(--light-gray);
    margin-bottom: 20px;
}

.product-info__action {
    margin-top: 30px;
    margin-bottom: 20px;
}

.product-info__price {
    color: #2BFC7F;
    font-family: 'Montserrat', sans-serif;
    font-size: 36px;
    font-weight: bold;
}