.products__page {
    width: 80%;
}

.products__list {
    margin-bottom: 30px;
    gap: 30px;
}

.products__link {
    width: 100%;
}

@media screen and (min-width: 800px) {
    .products__list {
        display: grid !important;
        align-items: center;
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }
}