.product__modal-background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(4px);
    z-index: 100;
}

.product__modal {
    background-color: #2C2D31;
    border-radius: 20px;
    padding: 20px 30px;
    width: 80%;
}