.app__button {
	all: unset;
	cursor: pointer;
	align-self: center;
	background-color: var(--button-color);
	background-image: linear-gradient(to right, var(--button-color) 0%, #b33535 40%, #7e153a 100%);
	border-radius: 15px;
	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
	color: #fff;
	padding: 6px;
	text-align: center;
	background-size: 0% 100%;
	transition: background-color 1s;
	width: 120px;
	position: relative;
}

.app__button:hover {
	background-image: linear-gradient(to right, var(--button-color) 0%, #b33535 40%, #7e153a 100%);
	background-repeat: no-repeat;
	background-size: 100% 100%;

	box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
	transition: background-size 1s, background-color 1s;
}

.app_button:active {
	background-color: #756dea;
	transition: background-size 0;
}

.app__loader {
	display: inline-block;
	width: 14px;
	height: 14px;
}

.app__loader:after {
	content: "";
	position: absolute;
	width: 14px;
	height: 14px;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border: 4px solid rgba(255, 255, 255, 0.2);
	border-top-color: var(--secondary);
	border-radius: 50%;
	animation: app__loader 1s ease infinite;
}

@keyframes app__loader {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(360deg);
	}
}