.verify-token__container {
    width: 80%;
}

.verify-token__input {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;

    gap: 8px;
    margin-bottom: 20px;
}

.successMessage {
    text-align: center;
    margin-bottom: 30px;
    color: var(--primary);
}