.card__image {
	background-position: top;
	background-size: cover;
	cursor: pointer;
	height: 250px;
	box-shadow: 0 0 7px 5px rgba(53, 36, 129, 0.5);
	border-radius: 16px;
	padding: 15px;
	width: 100%;
	transition: background-blend-mode 1s, background-position 1s;
}

.card__image:hover {
	background-position: center;
	background-blend-mode: multiply;
}

.card__title {
	color: #fff;
	font-weight: 700;
	text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
}