.signup__page {
    width: 80%;
}

.signup__form {
    gap: 24px;
    margin-bottom: 20px;
}

.signup__inputs {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;

    gap: 8px;
}