.field {
    border-bottom: 1px solid var(--dark-gray-1);
    font-family: 'Nunito', sans-serif;
    font-weight: 700;
    gap: 10px;
    padding-bottom: 5px;
}

.field__title {
    color: var(--secondary);
    font-weight: bold;
    min-width: 30%;
}

.field__value {
    font-weight: 400;
    text-align: left;
    word-wrap: break-word;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}