.input-file__label {
    cursor: pointer;
    width: 100%;
}

input[type="file"] {
    background-color: var(--button-color);
    background-image: linear-gradient(to right, var(--button-color) 0%, #b33535 40%, #7e153a 100%);
    border-radius: 5px;
    width: 100%;
    padding: 5px;
}