.login__container {
    width: 80%;
}

.login__form {
    gap: 24px;
}

.login__inputs {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    gap: 8px;
}