.app__header {
    /* background-color: #fff; */
    padding: 20px 22px;
    width: 100vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.5);
    height: 103px;

}

.tittle {
    position: relative;
    left: -45px;
}

.logo {
    width: 80px;
    border-radius: 10px;
    /* border: 3px solid #D83C3C; */
}

.app__header-link {
    left: -21%;
    position: relative;
}

@media screen and (min-width: 1700px) {
    .app__header-link {
        left: -350px;
    }
}