.profile__avatar {
    text-align: center;
    margin-bottom: 30px;
    border-radius: 50%;
}

.profile__container {
    width: 80%;
}

.profile__fields {
    gap: 12px;
}

.profile__link {
    font-weight: 400;
}

.admImg {
    border-radius: 50%;
    aspect-ratio: 1/1;
    width: 100px;
}