* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --primary: #79c7c5;
  --secondary: #FFF;
  --highlight: #2BFC7F;
  --light-gray: #E6E6E6;
  --medium-gray: #797A7E;
  --dark-gray-1: #2C2D31;

  --button-color: #D83C3C;
  color: var(--light-gray);
  font-family: 'Nunito', sans-serif;
  background: linear-gradient(180deg, rgba(102, 109, 207, 0.2) 0%, rgba(173, 182, 248, 0) 20%), #1D1E22;
}

.App {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 125px 0;
  align-items: center;
}

p {
  font-family: 'Montserrat', sans-serif;
  color: var(--medium-gray);
}

a {
  font-family: 'Montserrat', sans-serif;
  text-decoration: none;
  color: var(--primary);
  font-weight: bold;
  transition: 300ms;
}

a:hover {
  text-decoration: none;
  color: #8a6dea;
}

.Toastify__toast-theme--colored.Toastify__toast--success {
  color: rgba(36, 63, 128, 1);
  display: flex;
  align-items: center;
}

/* .Toastify__close-button {
  display: flex;
  align-self: center;
  display: none;
} */

.Toastify__toast-theme--colored.Toastify__toast--error {

  align-items: center;
}

.load__screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.load__screen__spinner {
  width: 50px;
  height: 50px;

  border: 3px solid var(--primary);
  border-top: 3px solid transparent;
  border-radius: 50%;

  animation: spin 1s linear 0s infinite;
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}