.product-registration__page {
    width: 80%;
}

.product-registration__inputs {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-size: 16px;
    font-weight: 600;
    line-height: 19px;
    gap: 8px;
}