.orders__container {
    margin-bottom: 15px;
}

.order__field {
    width: 85vw;
    border-radius: 16px;
    background-color: #151621;
    font-weight: 700;
    color: #fff;
    font-size: 24px;
    padding: 14px 22px;
}